---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro"
import About from "@/sections/About.astro";
import Experience from "@/sections/Experience.astro";

export const prerender = true;
---

<Layout>
  <Hero />
  <div class="h-[7000px]"></div>
  <About />
  <Experience />
</Layout>
 

