---
import Layout from "@/layouts/Layout.astro";
import Preloader from "@/components/Preloader.astro";
import Hero from "@/sections/Hero.astro"
import About from "@/sections/About.astro";
import Experience from "@/sections/Experience.astro";

export const prerender = true;
---

<Layout>
<!-- <Preloader /> -->
  <Hero />
  <div class="h-[12000px]"></div>
  <About />
  <Experience />
</Layout>
 

