---
import Layout from "@/layouts/Layout.astro"

import HeroKeyLogo from "@/assets/hero-logo.png"
import HeroKeyBackground from "@/assets/hero-background.png"
import LogoVI from "@/assets/logo-vl.svg"

import LogoCutted from "@/assets/logo-cutted2.svg"
---

<Layout>
  <div id="logo-mask" class="fixed top-0 w-full h-screen">
    <section>
      <picture
        id="hero-key"
        class="h-screen scale-105 block overflow-hidden fixed"
      >
        <img
          id="hero-key-logo"
          src={HeroKeyLogo.src}
          class="absolute w-full h-full object-cover"
        />
        <img
          id="hero-key-background"
          src={HeroKeyBackground.src}
          class="w-full h-full object-cover"
        />
      </picture>
    </section>
  </div>

  <div
    class="fixed flex flex-col items-center justify-between h-screen px-20 py-16 w-full"
  >
    <header class="flex justify-between w-full">
      <LogoVI
        class="size-20 text-white hover:text-yellow-100 transition-colors duration-500 cursor-pointer"
      />
    </header>


    <footer id="hero-footer" class="absolute bottom-8 m-auto">
      <LogoCutted
        class="text-white w-70 drop-shadow-[0_0_2px_rgba(255,255,255,.5),0_0_8px_#000]"
      />
      <span
        class="absolute uppercase tracking-[6px] whitespace-nowrap text-center top-[49px] font-medium text-shadow-[0_0_2px_rgba(255,255,255,.5),0_0_8px_#000] left-1/2 -translate-x-1/2 text-lg"
      >
        Exporar Portfolio
      </span>
    </footer>
  </div>
</Layout>

<style>
  #logo-mask {
    background: white;
    mask-image: url("/prueba-vector.png");
    mask-position: center 25%;
    mask-repeat: no-repeat;
    mask-size: clamp(5000vh, 3500%, 0vh);
  }
</style>

<script>
  import { gsap } from "gsap"
  import { ScrollTrigger } from "gsap/ScrollTrigger"

  gsap.registerPlugin(ScrollTrigger)

  const tl = gsap.timeline({
    ease: "power2.out",
    scrollTrigger: {
      scrub: 1,
    },
  })

  tl.to("#hero-key", { duration: 1, scale: 1 })
    .to("#hero-key-logo", { opacity: 0 }, "<")
    .to("#hero-footer", { opacity: 0 }, "<")
    .to("#hero-play-button", { opacity: 0 }, "<")
    .to(
      "#logo-mask",
      {
        maskSize: "clamp(20vh, 25%, 30vh)",
      },
      0.15
    )
    .to(
      "#hero-key",
      {
        opacity: 0,
        duration: 0.2,
      },
      0.4
    )
</script>
