---
import LogoVl from "@/assets/logo-vl.svg";
---

<header class="flex justify-between w-full">
  <a href="#hero">
    <LogoVl
      class="md:size-20 size-14 text-white hover:text-yellow-200 transition-colors duration-500 cursor-pointer fixed top-15 left-15 z-40"
    />
  </a>
</header>
