---
// No necesitas lógica aquí, solo HTML
---

<button
  id="menu-toggle"
  class="fixed top-15 right-15 z-40 p-2 text-white  hover:text-yellow-200 cursor-pointer rounded-full transition-colors duration-300"
>
  <!-- Icono hamburguesa -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="2.5"
    stroke="currentColor"
    class="md:size-12 size-10"
  >
    <path
    
      d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
  </svg>
</button>
