<section id="about">
  <div
    id="about-me"
    class="fixed w-full h-screen flex flex-col lg:flex-row items-center justify-center gap-12 px-10 md:px-20 text-start opacity-0"
  >
    <!-- Texto -->
    <div class="max-w-3xl">
      <h3
        class="text-5xl font-bold bg-gradient-to-r from-[#ff466b] via-[#ff5e5e] to-[#ff9350] text-transparent bg-clip-text"
      >
        Sobre mí
      </h3>

      <p
        class="mt-6 text-2xl leading-relaxed bg-gradient-to-r from-[#ff466b] via-[#ff5e5e] to-[#ff9350] text-transparent bg-clip-text"
      >
        Técnico en Electrónica y desarrollador web. Desde 2017 he trabajado como
        reparador de equipos electrónicos, formando parte del servicio técnico
        oficial de Nintendo Ibérica/Europa, donde perfeccioné mi capacidad de
        análisis, diagnóstico y resolución de problemas.
        <br /><br />
        En 2023 decidí dar un giro profesional y me introduje de lleno en el mundo
        del desarrollo web, combinando formación oficial con aprendizaje autodidacta.
        Actualmente me desempeño como desarrollador Full Stack, aunque es en el frontend
        donde realmente disfruto: me apasiona crear interfaces limpias, funcionales
        y con personalidad.
        <br /><br />
        Trabajo con tecnologías como HTML, CSS, JavaScript, y frameworks como React,
        Angular y Astro, cuidando siempre la estética, la usabilidad y el rendimiento
        visual de cada proyecto.
        <br /><br />
        Además de la programación, soy un apasionado del deporte y un auténtico friki
        del anime, dos mundos que me inspiran y que también reflejo en mis diseños
        e ideas creativas.
      </p>

      <a
        href="cv_vlorencio.pdf"
        download="CV_VictorLorencioGarcia.pdf"
        class="mt-6 inline-block"
      >
        <button
          class="bg-white text-black font-semibold px-6 py-2 rounded-full transition duration-300 hover:bg-yellow-200 cursor-pointer"
        >
          Descargar CV
        </button>
      </a>
    </div>

    <!-- Imagen -->
    <div class="max-w-xs lg:max-w-sm">
      <img
        src="/img-about.png"
        alt="Imagen sobre mí"
        class="w-full border-4 hover:border-yellow-200  object-cover transition-transform duration-300 ease-out hover:scale-105 hover:shadow-xl"
      />
    </div>
  </div>
</section>

