---
import KeepScrolling from "@/assets/keep-scrolling.svg";
import MenuButton from "@/components/MenuButton.astro";
import HeaderLogo from "@/components/HeaderLogo.astro";
import Menu from "@/components/Menu.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Portfolio de Víctor Lorencio, desarrollador web full-stack. Descubre mis proyectos, experiencia y habilidades en desarrollo web moderno." />
    <link rel="icon" type="image/svg+xml" href="/logo-vl.svg" />
    <title>Portfolio Victor Lorencio</title>
  </head>
  <body>
    <Menu />
    <HeaderLogo />
    <MenuButton />

    <div
      id="background-dynamic"
      class="fixed inset-0 -z-10 transition-colors duration-1000"
    >
    </div>

    <div id="smooth-wrapper">
      <div id="smooth-content">
        <slot />
      </div>
    </div>
    <KeepScrolling
      class="fixed bottom-3 right-0 left-0 mx-auto text-pink-300 drop-shadow-2xl animate-bounce-pulse"
    />

    <script>
      import { gsap } from "gsap";
      import { ScrollTrigger } from "gsap/ScrollTrigger";

      gsap.registerPlugin(ScrollTrigger);

      document.addEventListener("DOMContentLoaded", () => {
        const menu = document.getElementById("menu-overlay");
        const toggleBtn = document.getElementById("menu-toggle");
        const closeBtn = document.getElementById("menu-close");
        const image = document.getElementById("menu-image");
        const content = document.getElementById("menu-content");
        const links =
          document.querySelectorAll<HTMLAnchorElement>("#menu-content a");

        function abrirMenu() {
          if (menu && image && content) {
            menu.classList.remove("opacity-0", "pointer-events-none");
            menu.classList.add("opacity-100");

            image.classList.remove("opacity-0", "-translate-x-full");
            image.classList.add("opacity-100", "translate-x-0");

            content.classList.remove("opacity-0", "translate-x-full");
            content.classList.add("opacity-100", "translate-x-0");
          }
        }

        function cerrarMenu() {
          if (menu && image && content) {
            menu.classList.remove("opacity-100");
            menu.classList.add("opacity-0", "pointer-events-none");

            image.classList.remove("opacity-100", "translate-x-0");
            image.classList.add("opacity-0", "-translate-x-full");

            content.classList.remove("opacity-100", "translate-x-0");
            content.classList.add("opacity-0", "translate-x-full");
          }
        }

        if (toggleBtn) toggleBtn.addEventListener("click", abrirMenu);
        if (closeBtn) closeBtn.addEventListener("click", cerrarMenu);

        links.forEach((link) => {
          link.addEventListener("click", (e) => {
            e.preventDefault();
            const targetId = link.getAttribute("href");
            if (!targetId) return;

            cerrarMenu();

            // Scroll después de cerrar
            setTimeout(() => {
              const target = document.querySelector(targetId);
              if (target) {
                target.scrollIntoView({ behavior: "smooth", block: "start" });
              }
            }, 400);
          });
        });
        // ANIMACIÓN FONDO DINÁMICO
        const bgTL = gsap.timeline({
          scrollTrigger: {
            trigger: "#smooth-content",
            start: "top top",
            end: "bottom bottom",
            scrub: true,
          },
        });

        bgTL
          .to("#background-dynamic", {
            background: "linear-gradient(to bottom, #0C131E, #181723)",
            duration: 1,
          })
          .to("#background-dynamic", {
            background: "linear-gradient(to bottom, #181723, #2C2B45)",
            duration: 1,
          })
          .to("#background-dynamic", {
            background: "linear-gradient(to bottom, #1E2B34, #1C3F4F)",
            duration: 1,
          })
          .to("#background-dynamic", {
            background: "linear-gradient(to bottom, #241A30, #4E3755)",
            duration: 1,
          })
          .to("#background-dynamic", {
            background: "linear-gradient(to bottom, #0F2A3C, #2E4B58)",
            duration: 1,
          })
          .to("#background-dynamic", {
            background: "linear-gradient(to bottom, #2B1E3D, #4E3755)",
            duration: 1,
          });
      });
    </script>
  </body>
</html>

<style is:global>
  @import "tailwindcss";
  @import "@fortawesome/fontawesome-free/css/all.min.css";

  @theme {
    --font-sans: "GTA", system-ui, sans-serif;
    --font-narrow: "GTANarrow", system-ui, sans-serif;

    --animate-bounce-pulse: bounce-pulse 2s ease-in-out infinite;
  }

  @keyframes bounce-pulse {
    0% {
      transform: translateY(0);
      scale: 0.8;
      opacity: 0.8;
    }

    50% {
      transform: translateY(-5px);
      opacity: 1;
      scale: 1;
    }

    100% {
      transform: translateY(0);
      scale: 0.8;
      opacity: 0.8;
    }
  }

  @keyframes animate {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }

  html,
  body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    color: white;
    margin: 0;
    width: 100%;
  }

  #background-dynamic {
    background: linear-gradient(to bottom, #1b1828, #0c101b);
    width: 100%;
    height: 100%;
    transition: background 0.5s ease-in-out;
  }

  .moving-gradient {
    background-image: linear-gradient(
      270deg,
      #ff00c3,
      #ff8c00,
      #ffcc00,
      #00ffc8,
      #007cf0,
      #7928ca,
      #ff00c3
    );
    background-size: 400% 400%;
    background-position: 0% 50%;
    transition: background-position 0.5s ease;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .skill-icon {
    transition:
      transform 0.3s ease,
      filter 0.3s ease;
    will-change: transform, filter;
  }

  .skill-icon:hover {
    transform: scale(1.15);
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.041))
      drop-shadow(0 0 10px #404045) drop-shadow(0 0 20px #404045);
  }

  @font-face {
    font-family: GTA;
    src: url("/fonts/gta-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: GTA;
    src: url("/fonts/gta-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: GTA;
    src: url("/fonts/gta-semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: GTANarrow;
    src: url("/fonts/gta-narrow.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @media (min-width: 2300px) {
    #hero-key-logo {
      opacity: 0;
      transition: all 0.6s ease-in-out;
    }
  }
</style>



